*{
    padding:0px 10px;
    font-family: 'Times New Roman', Times, serif;
}

.container1{
    font-weight: bold;;
}

.container2{
    font-weight: bold;
}

.container6{
    margin-top: 80px;
    left: 70px;
}
    
